@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-gray-1;
		@apply font-nunito-sans;
	}
	@font-face {
		font-family: 'Nunito Sans';
		font-style: normal;
		font-weight: 300;
		font-display: swap;
		src: url('../public/fonts/nunito-sans-v12-latin-300.woff2') format('woff2'),
			url('../public/fonts/nunito-sans-v12-latin-300.woff') format('woff');
	}

	@font-face {
		font-family: 'Nunito Sans';
		font-style: normal;
		font-weight: 600;
		font-display: swap;
		src: url('../public/fonts/nunito-sans-v12-latin-600.woff2') format('woff2'),
			url('../public/fonts/nunito-sans-v12-latin-600.woff') format('woff');
	}

	@font-face {
		font-family: 'Nunito Sans';
		font-style: normal;
		font-weight: 800;
		font-display: swap;
		src: url('../public/fonts/nunito-sans-v12-latin-800.woff2') format('woff2'),
			url('../public/fonts/nunito-sans-v12-latin-800.woff') format('woff');
	}
}
